$lime: #b2d244;
$green: #559958;
$dark_green: #0e4500;
$black: #000000;
$blue: #000a40;
$purple: #311764;
$purple_2: #492b80;
$purple_3: #8161bd;
$gray: #cbcbcb;
$white: #fff;
$light_blue: #039be5;
$silver: #f2f2f2;

$gradient_lime_green: linear-gradient(101.52deg, #e1e53c 31.48%, #acd044 74.87%);
$gradient_blue_purple: linear-gradient(115.43deg, #3cbce5 21.81%, #6044d0 77.56%);
