.block-radius {
	box-shadow: 0 4px 39px rgba(49, 23, 100, 0.2);
	border-radius: 15px 40px;
	margin: 155px auto 188px;
	//margin: 0 auto;
	padding: 47px 0;
	position: relative;
}

.block-radius__hint {
	position: absolute;
	width: 27px;
	height: 27px;
	border-radius: 50%;
	border: 1px solid #dcdcdc;
	background: #eee;
	right: 28px;
	top: 31px;
	cursor: pointer;
	font-size: 18px;
	font-weight: 500;
	color: #858e6b;
}

@media (max-width: 430px) {
	.block-radius {
		margin-bottom: 90px;
		margin-top: 60px;
	}
}

@media (max-width: 375px) {
	.block-radius__hint {
		right: 20px;
		top: 20px;
	}
}
