.big-green-btn {
	height: 50px;
	border-radius: 8px 25px;
	max-width: 180px;
	width: 100%;
	font-size: 14px;
	color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.big-green-btn img {
	margin-right: 14px;
	height: 28px;
}
